
body{
    background: black;
}
#container{
    width: 350px;
    background: gray;
    margin: 40px auto;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    color: white;
}

#board li{
    width: 70px;
    height: 70px; 
    background: #333;
    margin: 10px;
    list-style: none;
    color: white;
    font-size: 55px;
    text-align: center;
    float: left;
}

.clearfix{
    clear: both;
}

footer{
    text-align: center;
    padding: 20px; 
}

#reset{
    width: 70%;
    background: #444; 
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.o{
    color: green !important;
}

.x{
    color: red !important;
}