body{
    font-family: Arial, Helvetica, sans-serif, 微軟正黑體;
    background-image: url(../images/bg.jpg);  
  }
  


  header{
      width: 800px;
      height: 80px;
      background-color: #330000;
  }
  
  h1#text2{
      position: absolute;
      color: #FFFFFF;
      margin-top: 30px;
      margin-left: 100px;
  }
  
  nav{
    margin-top: 10px;
}

nav ul{
    padding: 1px;
    padding-bottom: 15px;
    list-style: none;
    margin-top: 1px;
}

nav ul li {
    display: block;
    width: 150px;
    height: 42px;
    background-image: url(../images/btn.png);
    text-indent: 50px;
    line-height: 35px;
    float: left;
    color: black;
}

nav ul li a{
    display: block;
    width: 150px;
    height: 42px;
    background-image: url(../images/btn.png);
    text-indent: 50px;
    line-height: 35px;
    text-decoration: none;

}

nav ul li a:hover{
    background-image: url(../images/btn_hover.png);
    color: white;
}

  
  article{
      margin-top: 30px;
    width: 800px;
    height: 520px;
      background-color:white;
  }

  

  
  footer{
      width: 800px;
      height: 50px;
      background-color: #330000;
      color: #FFFFFF;
      text-align: center;
      line-height: 50px;
      margin-top: 100px;
  }
  
 
  
  
  
