body{
    background: white;
}

#container{
    width: 630px;
    height: 576px;
    border: 5px solid purple;
}

h1{
    background: rgb(221, 202, 96);    
    width: 100%;
    height: 60px;
    margin: 0px;
    text-align: center;
    line-height: 60px;
}

.button{
    font-size: 12px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 0%;
    margin-left: -3px;
    margin-right: 15px;
}


#menu{
    background: rgb(241, 217, 137);
padding: 8px;
}